{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update account</title>
   <link rel="stylesheet" href="{% static 'css/style.css' style.css %}">
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body>
    <div class="wrapper">
        <section class="form signup">
            <header>Update Account</header>
            <form action="{% url 'user:InfoUser' %}" method="post">
                {% csrf_token %}
                {% if message != none %}
                <div class="error-text" style="display: block;">{{message}}</div>
                {% else %}
                 <div class="error-text" style="display: none;"></div>
                {% endif %}
                <div class="name-detail">
                    <div class="field input">
                        <label>First name</label>
                        <input type="text" name="first_name" placeholder="First name" required="required"
                               maxlength="150" id="id_first_name" value="{{u.first_name}}">
                    </div>

                    <div class="field input">
                        <label>Last name</label>
                        <input type="text" name="last_name" placeholder="Last name" required="required" maxlength="150"
                               id="id_last_name"  value="{{u.last_name}}">
                    </div>
                </div>

                <div class="field input">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter your username" required=""
                           maxlength="150" aria-describedby="id_username_helptext" id="id_username" value="{{u.username}}">
                </div>

                <div class="field input">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter your email" required="required"
                           maxlength="254" value="{{u.email}}">

                </div>

                <div class="field input">
                    <label>Phone number</label>
                    <input type="text" name="phone" placeholder="Enter your email" required="required"
                           maxlength="254"  value="{{u.phone}}">
                </div>

                <div class="field input">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your email" required="required"
                           maxlength="254" value="{{u.password}}">
                    <i class="fa-solid fa-eye"></i>
                </div>

                <div class="field image">
                    <label>Image</label>
                    <div class="image-input" style="display: flex;justify-content: space-around;align-items: center;">
                        <input type="File" name="image" maxlength="200" value="{{u.image}}" style="width: 110px;">
                        <img src="{{u.image}}" style="width: 100px; height: 100px;">
                    </div>

                </div>
                <div class="field button">
                    <input type="submit" value="Update">
                </div>

            
            </form>
        </section>
    </div>

    <script src="{% static 'js/passShowHide.js'%}"></script>
</body>
</html>